@import "./partial/variable";
@import "./partial/nav";
@import "./partial/cards";

body {
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(193, 144, 0, 1) 0%,
    rgba(117, 89, 0, 1) 3%,
    rgba(45, 33, 0, 1) 12%,
    rgba(0, 0, 0, 1) 50%,
    rgba(20, 20, 0, 1) 88%,
    rgba(0, 0, 0, 1) 100%
  );
}

main {
  #btn {
    @include font($font, 600, 1rem);
    border-radius: 20px;
    background-color: #ffbf0e;
    border: 1px solid black;

    &:active {
      transform: scale(0.93);
    }
  }
}

.marked-text {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.carousel {
  width: 400px;
  height: 400px;
}

// FAVOURITE SONG

.favourite-song-img {
  border-radius: 20px;
  border: 1px solid #ffbf0e;
}

.card-body-container {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  h5 {
    @include font($font, 700, 2rem);
  }
  h6 {
    @include font($font, 300, 1.3em);
  }
}

.song-modal {
  background-color: black;
  padding: 1em;
  position: fixed;
  bottom: 30%;
  left: 35%;
  animation: modal 0.5s;
  z-index: 3;
}
@keyframes modal {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.alert-body {
  background-color: white;
  color: black;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.artist-rank-btn,
.open-modal-btn {
  @include font($font, 600, 1rem);
  border-radius: 20px;
  background-color: #ffbf0e;
  border: 1px solid black;
  &:hover {
    transform: scale(1.1);
  }
}

.hidden {
  display: none;
}
