.navbar {
  background-color: rgb(193, 144, 0);
  box-shadow: 0px 9px 15px 1px rgb(154, 115, 0);
  z-index: 1;
}
.navbar .nav-ref {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.input-container #input {
  margin-top: 100px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .input-container #input {
    width: 350px;
  }
}
@media screen and (min-width: 995px) {
  .input-container #input {
    width: 500px;
  }
}
@media screen and (min-width: 576px) {
  .input-container #btn {
    margin-top: 100px;
  }
}

.outline-error {
  outline: 2px solid rgb(210, 24, 24);
  outline-offset: 2px;
  border-radius: 5px;
}

.card-section .card-customize {
  border-radius: 20px;
  border: 1px solid #ffbf0e;
  opacity: 0.7;
  cursor: pointer;
}
.card-section .card-customize .card-img-customize {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-section .card-customize:hover {
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0px 0px 15px 1px #b98713;
}
.card-section .card-customize .card-body-customize {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-section .card-customize .btn {
  border: 1px solid #ffbf0e;
}
.card-section .card-customize .btn:hover {
  transform: scale(1.1);
}
.card-section .card-customize h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

body {
  height: 100%;
  background: linear-gradient(180deg, rgb(193, 144, 0) 0%, rgb(117, 89, 0) 3%, rgb(45, 33, 0) 12%, rgb(0, 0, 0) 50%, rgb(20, 20, 0) 88%, rgb(0, 0, 0) 100%);
}

main #btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #ffbf0e;
  border: 1px solid black;
}
main #btn:active {
  transform: scale(0.93);
}

.marked-text {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.carousel {
  width: 400px;
  height: 400px;
}

.favourite-song-img {
  border-radius: 20px;
  border: 1px solid #ffbf0e;
}

@media screen and (max-width: 995) {
  .card-section {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 768) {
  .card-section {
    width: 200px;
  }
}
.card-section .card-body-container {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-section .card-body-container h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.card-section .card-body-container h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

@media screen and (max-width: 330px) {
  .favourite-song-container {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .favourite-song-container {
    transform: scale(0.85);
  }
}
@media screen and (max-width: 768px) {
  .favourite-song-container {
    width: 350px;
  }
}

@media screen and (min-width: 400px) {
  .carousel-background {
    background: linear-gradient(90deg, rgb(193, 144, 0) 0%, rgb(117, 89, 0) 14%, rgb(45, 33, 0) 37%, rgb(0, 0, 0) 50%, rgb(45, 33, 0) 59%, rgb(117, 89, 0) 85%, rgb(193, 144, 0) 100%);
  }
}

.song-modal {
  background-color: black;
  width: 300px;
  padding: 1em;
  position: fixed;
  bottom: 30%;
  left: 0;
  -webkit-animation: modal 0.5s;
          animation: modal 0.5s;
  z-index: 3;
}
@media screen and (min-width: 400px) {
  .song-modal {
    left: 25%;
  }
}
@media screen and (min-width: 768px) {
  .song-modal {
    width: 400px;
  }
}
@media screen and (min-width: 995px) {
  .song-modal {
    width: 500px;
    left: 35%;
  }
}

@-webkit-keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.alert-body {
  background-color: white;
  color: black;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.artist-rank-btn,
.open-modal-btn,
.close-modal-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #ffbf0e;
  border: 1px solid black;
}
.artist-rank-btn:hover,
.open-modal-btn:hover,
.close-modal-btn:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */